__pycache__/
# *.csv

### LaTeX ###
## Own additions
*.sum
*.minted
*.aux
*.bbl*
# *.bbl-SAVE-ERROR
*.bcf*
# *.bcf-SAVE-ERROR
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.gz
*.toc
*.pygtex